.btn-clear{
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #ac0246;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 35px;
  cursor: pointer;
  user-select: none;
}

.btn-clear:hover{
  background-color: #ebb000;
}